textarea {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  /* Зеленый цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
  /* Темнее при наведении */
}